header{
	padding: 40px;
}
.function2{
	padding: 40px;
}
.function3{
	padding-bottom: 50px;
}
.function4{
	padding-bottom: 50px;
}
.function5{
	padding-bottom: 50px;
}
.function6{
	padding-bottom: 50px;
}
.function7{
	padding-bottom: 50px;
}
.function8{
	padding-bottom: 50px;
}
.function9{
	padding-bottom: 50px;
}
.function11{
	padding-bottom: 50px;
}